/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
html,
body {
  @apply overflow-x-hidden;
  display: contents;
}
a.link {
  @apply text-blue-600;
}
a.link:hover {
  @apply text-blue-800;
}
a[href*="//"]:not([href*="sospedra.me"]),
a[href*="//"]:not([href*="sospedra.github.io"])
{
  display: inline-flex;
  position: relative;
}
a[href*="//"]:not([href*="sospedra.me"]):after,
a[href*="//"]:not([href*="sospedra.github.io"]):after
{
  @apply inline-block opacity-75;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  transform: translateY(-3px) scale(0.8);
}
